@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 56px;
    z-index: 10;
}

.logo {
    display: flex;
    position: relative;
    text-decoration: none;
    color: white;
    line-height: 1;
}

.logo span {
    font-family: 'Henny Penny', cursive;
    font-size: 3.4rem;
    display: flex;
    align-self: center;
    font-weight: bold;
}

.logo span:last-child {
    position: relative;
}

.logo-spin {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #222 60%, #fff700 100%);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin: 0 0.3rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    position: relative;
    bottom: 0.2rem;
}

.logo-spark {
    width: 150%;
    height: 150%;
    object-fit: contain;
    display: block;
    background: transparent;
    animation: spin-upscale 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s 1, spin-upscale 1.2s cubic-bezier(0.77, 0, 0.175, 1) 2s infinite;
    animation-delay: 0s, 2s;
    animation-fill-mode: both;
}

nav {
    display: flex;
}

.nav-list {
    display: flex;
    gap: 24px;
    list-style: none;
}

.nav-item {
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 8px 24px;
    border-radius: 100px;
    border: 1px solid white;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


/* Main */
main {
    /* background-color: #fff700;
    z-index: -2; */
}

.imperial-banner {
    height: max-content;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.sky-background {
    position: fixed;
    display: flex;
    width: 100%;
    height: 85vh;
    overflow: hidden;
}

.sky-background img {
    height: 100vh !important;
}

.sky-background img,
.cat-background img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.main-cat-wrapper {
    position: relative;
    margin-top: 50vh;
    width: 100%;
    z-index: 2;
}

.cat-background {
    position: relative;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.cat-background img {
    mask-image: url('assets/backgrounds/mask-bg.svg');
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;
    -webkit-mask-image: url('assets/backgrounds/mask-bg.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
}

.hero-title {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    top: 35vh;
    width: 80vw;
    line-height: 1;
    gap: 2rem;
}

.hero-title span {
    font-family: "Henny Penny", cursive;
    font-weight: normal;
    color: #FEF3E2;
    font-size: 6.5rem;
}

.hero-title span:nth-child(2) {
    color: #234C6A;
}

.polaroid-container {
    position: absolute;
    display: flex;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0px;
    gap: 2rem;
}

.polaroid-wrapper {
    position: relative;
    width: 50%;
    height: auto;
    bottom: -7rem;
    overflow: hidden;
}

.polaroid-content {
    position: absolute;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 4px 50px 0 rgba(255, 255, 255, 0.75);
    display: none;
}

#first-polaroid {
    display: flex;
    top: 7rem;
    left: 10rem;
    transform: rotate(9.997deg);
}

#second-polaroid {
    display: flex;
    bottom: 4rem;
    left: -3rem;
    transform: rotate(-6.578deg);
}

#third-polaroid {
    display: flex;
    top: 7rem;
    right: 7rem;
    transform: rotate(-13.378deg);
}

#fourth-polaroid {
    display: flex;
    bottom: 4rem;
    right: -6rem;
    transform: rotate(7.691deg);
}

.imperial-emperor {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -6rem;
    padding-top: 2rem;
    background-image: url('assets/backgrounds/gladiatorium.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: -1;
    min-height: 100vh;
    height: 67rem;
    /* gap: 3rem; */
}

.curve-text {
    position: relative;
    opacity: 0.75;
    margin-bottom: 3rem;
}

.emperor-content-wrapper {
    position: relative;
    padding: 0rem 4rem;
}

.emperor-content-background {
    position: absolute;
    justify-self: center;
    z-index: -1;
    top: -1rem;
}


.emperor-title {
    font-family: 'Henny Penny', cursive;
    font-size: 4.5rem;
    color: #234C6A;
    text-shadow: 0 4px 20px #FFF82A;
    text-align: center;
    font-weight: normal;
    text-align: center;
    margin-top: 1.5rem;
}

.emperor-details {
    display: flex;
    position: relative;
    margin-top: 1.5rem;
    border: 3px solid rgba(250, 177, 47, 0.50);
    background: #FFF;
    box-shadow: 0 4px 50px 0 rgba(255, 255, 255, 0.40);
    padding: 2rem;
    gap: 2rem;
}

.emperor-image {
    position: relative;
    flex: 1;
    display: flex;
    box-sizing: content-box;
    border: rgba(0, 0, 0, 0.3) solid 2px;
    width: fit-content;
    height: fit-content;
}

.emperor-main-label {
    position: absolute;
    bottom: 3rem;
    right: -2rem;
    padding: 0.3rem 3rem 0.3rem 1rem;
    border: 1px solid #FFF;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.30) 100%);
    color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

.emperor-spark {
    position: absolute;
    fill: #FFA629 !important;
    stroke-width: 5px;
    stroke: #FFA629;
    filter: drop-shadow(0 4px 20px #FFF82A);
}

#first-spark {
    top: -3.5rem;
    right: -3.3rem;
    transform: rotate(-16.121deg);
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

#second-spark {
    bottom: -3.3rem;
    left: -3.3rem;
    transform: rotate(16.121deg);
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

.emperor-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.emperor-info>small {
    opacity: 0.5;
    font-weight: bold;
    font-size: large;
}

.emperor-data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.emperor-data h2 {
    font-size: 3.3rem;
    color: #F2A316;
    text-shadow: 0 4px 20px #FFF82A;
    font-weight: bold;
    width: 80%;
    position: relative;
}

.emperor-desc {
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    background-size: cover;
    background-repeat: no-repeat;
    height: 23rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid #7D7D7D;
    justify-content: space-between;
    background-blend-mode: multiply;
    background-color: white;
}

.emperor-desc::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        url('assets/backgrounds/emperor-desc-bg.png');
    pointer-events: none;
    opacity: 0.3;
    z-index: 1;
}

.emperor-desc figure {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: -1.5rem;
}

#top-left-corner {
    position: absolute;
    top: -1.2rem;
    left: -1.55rem;
}

#top-right-corner {
    position: absolute;
    top: -1.2rem;
    right: -1.55rem;
    transform: scaleX(-1);
}

#bottom-left-corner {
    position: absolute;
    bottom: -1.2rem;
    left: -1.55rem;
    transform: scaleY(-1);
}

#bottom-right-corner {
    position: absolute;
    bottom: -1.2rem;
    right: -1.55rem;
    transform: scaleX(-1) scaleY(-1);
}

.emperor-desc>small {
    text-align: end;
    color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    font-weight: bold;
}

.description-container {
    position: relative;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.emperor-desc p {
    font-size: medium;
    line-height: 1.5;
    color: #000;
    z-index: 2;
}

.emperor-desc p:last-child {
    margin-bottom: 0;
}

.emperor-desc-button {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.emperor-desc-button button {
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    z-index: 2;
    background: transparent;
}

.emperor-desc-button button:nth-child(2) img {
    transform: rotate(180deg);
}

.emperor-label {
    opacity: 0.50;
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.emperor-label p {
    padding: 0.3rem 1rem;
    border: #000 solid 1px;
    border-radius: 100px;
    text-align: center;
}

.imperial-main {
    position: relative;
    display: flex;
    flex-direction: column;
}

.divider {
    margin-block: 1rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);
}

.divider .line {
    position: relative;
    flex: 1;
    height: 2px;
    display: block;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.divider span {
    display: inline;
    width: max-content;
    flex-shrink: 0;
    padding: 0 1rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.content-container {
    background-color: khaki;
    display: flex;
}

.content-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.content-wrapper section {
    padding: 1.5rem 3rem 3rem 3rem;
}

.content-wrapper section h2 {
    color: #F2A316;
    text-shadow: 0 4px 20px rgba(255, 248, 42, 0.40);
    font-family: "Libre Baskerville";
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 15%;
    text-underline-offset: 12.5%;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#ages {
    background: url('assets/backgrounds/ages-section-bg.png');
    color: white;
}

.ages-list-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ages-list-container article {
    position: relative;
    overflow: hidden;
    width: 30%;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    border: 1px solid #FFF;
}

.ages-list-container article:last-child {
    visibility: hidden;
}

.ages-list-container article img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ages-list-container article figure::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.60) 84.25%);
    pointer-events: none;
}

.ages-list-container article h4 {
    position: absolute;
    bottom: 1rem;
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#nobles {
    position: relative;
    background-color: #FEF3E2;
    z-index: 1;
    overflow: hidden;
    padding-block: 1rem 0rem;
}

#nobles::after {
    mix-blend-mode: lighten;
    background: url('assets/backgrounds/luxury-pattern.png');
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
}

#nobles>header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    z-index: 2;
}

#nobles>header>h2 {
    margin-bottom: 2rem;
}

#nobles>figure {
    position: absolute;
    width: fit-content;
    height: fit-content;
    transform: rotate(40.121deg);
    top: -8rem;
    right: -5rem;
}

#nobles>figure img {
    width: 100%;
    height: 100%;
}

.dropdown-nobles {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    width: fit-content;
    cursor: pointer;
    background: #fff;
}

#icon-dropdown {
    opacity: 0.8;
}

.selected {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.80);
    font-size: small;
    width: 10rem;
}

.dropdown-nobles .dropdown-list {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 0.5rem 0;
    list-style: none;
    display: none;
    color: rgba(0, 0, 0, 0.80);
    font-size: small;
}

.dropdown-nobles .dropdown-list li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.dropdown-nobles .dropdown-list li:hover {
    background: #f2f2f2;
}

#nobles p {
    position: relative;
    margin-bottom: 1rem;
    font-size: small;
    text-align: justify;
    width: 80%;
}

.nobles-pictures {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 3rem;
}

.nobles-pictures .first-line,
.second-line,
.third-line {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    width: fit-content;
    align-self: center;
}

.first-line figure,
.second-line figure,
.third-line figure {
    position: relative;
}

.first-line figure::after,
.second-line figure::after,
.third-line figure::after {
    content: "";
    position: absolute;
    left: -1rem;
    top: -1.5rem;
    width: 110%;
    height: 115%;
    background-image: url('assets/contents/frame-for-nobles.svg');
    background-size: fill;
    background-repeat: no-repeat;
}

.show-more-nobles {
    display: flex;
    justify-content: center;
    margin-block: 2rem 2rem;
}

#nobles button {
    width: fit-content;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: bold;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.50);
    color: rgba(0, 0, 0, 0.50);
}

#nobles button:hover {
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
}

#philosophy {
    position: relative;
    background-color: #1E5577;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#philosophy h2 {
    color: white;
    z-index: 2;
}

#philosophy::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('assets/backgrounds/philosophy-bg.png') lightgray 50% / cover no-repeat;
    mix-blend-mode: multiply;
    box-shadow: 50px 42px 20px 0 rgba(0, 0, 0, 0.25);
    pointer-events: none;
    z-index: 1;
}

.philosophy-content {
    position: relative;
    display: flex;
    gap: 1rem;
    z-index: 2;
}

.philosophy-content>div {
    flex: 1;
    width: 100%;
}

.philosophy-desc {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.philosophy-title {
    position: relative;
    width: fit-content;
}

.philosophy-title img {
    position: absolute;
}

#top-left-corner-philosophy {
    top: -0.62rem;
    left: -0.57rem;
}

#bottom-right-corner-philosophy {
    bottom: -0.62rem;
    right: -0.57rem;
    transform: scaleX(-1) scaleY(-1);
}

.philosophy-spark {
    transform: rotate(-32.893deg);
    flex-shrink: 0;
    fill: #FFE6C3;
    filter: drop-shadow(0 4px 20px rgba(255, 248, 42, 0.50));
}

#top-right-spark {
    top: -0.62rem;
    right: -0.57rem;
}

#bottom-left-spark {
    bottom: -0.62rem;
    left: -0.57rem;
    transform: scaleX(-1) rotate(32.893deg);
}

.philosophy-title h3 {
    width: fit-content;
    padding: 0.5rem 1.5rem;
    color: #FFF;
    text-shadow: 0 4px 20px #FFF82A;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #FFF;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.30) 100%);
}

.philosophy-desc p {
    margin-block: 0.5rem;
    color: white;
    font-size: 0.9rem;
    line-height: 2;
}

.philosophy-prediction {
    border-left: 4px solid #F2A316;
    background: rgba(255, 255, 255, 0.25);
    flex-shrink: 0;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.philosophy-prediction p {
    color: #FFF;
    text-shadow: 0 4px 20px #FFF82A;
}

.philosophy-quote {
    position: relative;
    padding: 1rem;
    border-radius: 8px;
    font-style: italic;
    color: #fff;
}

.philosophy-quote::before {
    content: "“";
    position: absolute;
    font-size: 4rem;
    line-height: 0.5;
    top: 10px;
    left: 0px;
    opacity: 0.8;
}

.philosophy-quote::after {
    content: "”";
    position: absolute;
    font-size: 4rem;
    line-height: 0.5;
    bottom: -20px;
    right: 0px;
    opacity: 0.8;
}

.philosophy-quote p {
    margin: 0;
    position: relative;
    z-index: 1;
    text-align: center;
}

.philosophy-generate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.philosophy-generate button {
    width: fit-content;
    border-radius: 100px;
    border: 1px solid #FFF;
    background-color: #F2A316;
    box-shadow: 0 4px 20px 0 rgba(255, 248, 42, 0.40);
    padding: 0.5rem 2rem;
    color: white;
    font-size: 1.2rem;
}

.philosophy-card {
    position: relative;
}

.philosophy-card figure {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.philosophy-card figure img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.philosophy-card figure #back-card {
    transform: rotate(-6.306deg);
    flex-shrink: 0;
}

.philosophy-card figure #front-card {
    transform: rotate(6.227deg);
    flex-shrink: 0;
}

.imperial-archives {
    position: relative;
    background-color: #011003;
    display: flex;
    flex-direction: column;
    padding-block: 3rem;
    align-items: center;
    gap: 2.5rem;
    overflow: hidden;
}

.imperial-archives>img {
    position: absolute;
}

#archive-decor-1 {
    top: -10rem;
    left: -4rem;
    transform: rotate(168.762deg);
    flex-shrink: 0;
    mix-blend-mode: lighten;
}

#archive-decor-2 {
    top: -10rem;
    right: -10rem;
    flex-shrink: 0;
    mix-blend-mode: lighten;
}

.imperial-archives::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/backgrounds/paper-texture.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
    z-index: 0;
}

.imperial-archives h2 {
    color: #FEF3E2;
    text-shadow: 0 4px 20px rgba(255, 248, 42, 0.40);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 15%;
    text-underline-offset: 12.5%;
    z-index: 2;
}

.imperial-archives p {
    width: 70%;
    text-align: center;
    color: #FFF;
    font-size: 1rem;
    line-height: 1.8;
    z-index: 2;
}

.archive-photos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    z-index: 2;
}

.first-archive,
.second-archive,
.third-archive {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.first-archive img,
.second-archive img,
.third-archive img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.first-archive,
.third-archive {
    left: -3rem;
}

.second-archive {
    left: -8rem;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.footer-top {
    display: flex;
    gap: 1rem;
    height: 90vh;
    padding-block: 2rem 1rem;
    padding-inline: 2rem;
    position: relative;
    overflow: hidden;
    background-color: #000;
    z-index: 100;
}

.footer-top .tarrot-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
}

.tarrot-wrapper figure {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.tarrot-wrapper figure img:nth-child(1) {
    transform: rotate(9.236deg);
    flex-shrink: 0;
    right: -2.5rem;
}

.tarrot-wrapper figure img:nth-child(2) {
    transform: rotate(-13.071deg);
    flex-shrink: 0;
    left: -4rem;
}

.footer-top figure img {
    position: absolute;
    width: 100%;
    height: 85%;
    object-fit: contain;
    display: flex;
}

.footer-top::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('assets/backgrounds/footer-bg.png');
    background-size: fill;
    background-repeat: no-repeat;
    mix-blend-mode: hard-light;
    z-index: 0;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.footer-top h1 {
    color: #FFF;
    font-family: "Libre Baskerville";
    font-size: 4rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    width: 80%;
}

.footer-left,
.footer-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
    justify-content: space-between;
}

.footer-left p,
.footer-right p {
    color: #FFF;
    font-size: 1rem;
    line-height: 1.8;
    width: 60%;
}

.footer-right p,
.footer-right h1 {
    text-align: right;
}

.footer-right {
    display: flex;
    align-items: flex-end;
}

.content-top-section h1 {
    width: 70%;
}

.content-bottom-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
    z-index: 2;
}

.wattpad-button {
    display: flex;
}

.wattpad-button a {
    text-decoration: none;
}

.wattpad-button button {
    display: flex;
    background: #FFF;
    padding: 0.8rem;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #F2A316;
    align-items: center;
    border: 1px solid #F2A316;
    background: #FFF;
}

.wattpad-button button img,
.social-list a img {
    width: 2rem;
}

.social-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-list a {
    width: fit-content;
    height: fit-content;
    display: flex;
}

.footer-bottom {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    font-size: small;
}

.footer-bottom p:nth-child(2) {
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.footer-bottom p:nth-child(2) a,
.footer-bottom p:nth-child(2) span {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    color: #A29999 !important;
    font-weight: bold;
}

#timeline {
    flex: 1;
    background-color: red;
}

/* Animation */
@keyframes spin-upscale {
    0% {
        transform: scale(1) rotate(0deg);
    }

    70% {
        transform: scale(1.25) rotate(360deg);
    }

    100% {
        transform: scale(1) rotate(360deg);
    }
}